.movieContainer{
    background-color: #282c34;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    font-size: 25px;
}

.contents {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: 22rem 22rem;
    row-gap: 2rem;
    column-gap: 13rem;
    align-items: center;
    width: 100%;
    min-height: 43rem;
}
