.movieDetailsContainer{

    text-align: center;
    color: white;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}


.detailsContainer {
    display: grid;
    width: 70vw;
    height: 70vh;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 2px;
    grid-template-columns: 20vw 30vw 18vw;
    grid-template-rows: 20vh 10vh 10vh 10vh;
    padding: 5vh 2vw;
}

.detailsContainer p {
    color: white;
    position: relative;
}

.pic img {
    height: auto;
    width: 100%;
}

.titleContainer {
    height: 200px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-decoration: none;
    padding-left: 2vw;
    overflow-y: scroll;
}

.title{
    text-align: left;
    height: 50%;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 50px;
    color: black;
}

.descriptionContainer {
    height: 400px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 2vw;
    font-size: 20px;
    text-align: center;
    overflow-y: scroll;
}

.details {
    color: black;
    text-align: left;
    padding-top: 4vh;
}
